/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background-color: black;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: black;
    color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

#home-main {
    height: 420px;
    width: 100%;
    background: url("../images/home-main.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 30px auto;
    /*border: 2px solid white;*/
    display: flex;
    justify-content: center;
}

/*
#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
    
}
*/

#about-jujutsu>div {
    line-height: 20px;
    margin-bottom: 20px;
    justify-content: center;

    /*background: url('../images/jujutsu01.webp') no-repeat top center / cover;*/
}

#about-jujutsu-box {
    /*background-color: black;*/
    padding: 20px;
    text-align: left;
    min-height: 200px;
    border: 1px solid rgba(241, 109, 107, 0.7);
}

/*
#about-jujutsu-box:hover {
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.7), 0 3px 20px 0 rgba(255, 255, 255, 0.7);
    background-color: white;
    color: rgba(241, 109, 107, .7);
    transition-delay: 0.2s;
    transition-duration: 0.1s;
}
*/

#jujutsu p {
    padding: 0 30px;
    font-size: 20px;

}

#jujutsu hr {
    border-top: 1px solid #3a3a3a;
    margin: 12px 0;
}

#circle-cover-bg {
    background: url('../images/jujutsu01.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#jujutsu-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ________________________________________ season ________________________________________ */
#season {
    display: flex;
    flex-wrap: wrap;
}

/*
#season div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}
*/

#season-0 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../images/kaisen-0.png');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#season-1 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../images/team-gojo.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#season-2 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../images/satoro-gojo.png');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    padding: 15px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#season-3 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../images/sukuna-itadori.jpg');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    padding: 25px;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#season span {
    color: rgba(241, 109, 107, 0.7);
}

#season p {
    font-weight: bold;
}

#season h3 {
    /* Override the heading colour set in general styles */
    color: #fafafa;
    margin-bottom: 10px;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}





/* _____________________________ CHARACTER _____________________________ */

#character-main {
    height: 420px;
    width: 100%;
    background: url("../images/character-main2.jpg") no-repeat center center;
    position: relative;
}

#character {
    display: flex;
    flex-wrap: wrap;
}

.char-profile {
    border: 1px solid rgba(241, 109, 107, 0.7);
    width: 250px;
    height: 400px;
    position: relative;
    text-align: center;
    color: white;
}

.char-profile>img {
    width: 100%;
    height: 100%;
}

.char-profile>img:hover {
    -webkit-transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    transform: translate(-10%, -10%);
}

.char-profile>div {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 50%;
    left: 250px;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(241, 109, 107, 0.7);
    width: 150px;
}

.char-profile p {
    font-weight: bold;
    color: purple;
}

.char-profile span {
    font-weight: bold;
    color: white;
}


/* _____________________________ CHARACTER _____________________________ */





/* Form */
#signup {
    background-image: url("../images/jujutsu01.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/* Footer */


footer {
    margin-top: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        color: white;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        color: white;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Home Main */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reasons section */
    #about-jujutsu {
        /*display: flex;*/
        /*flex-direction: column;*/
        width: 100%;
        float: left;
    }

    #about-jujutsu>div {
        width: 90%;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /* Form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Gallery */
    #photos {
        column-count: 4;
    }
}

@media screen and (min-width: 1200px) {

    /* Reasons section */
    #jujutsu {
        display: flex;
        flex-direction: row;
    }

    #jujutsu>div {
        flex: 1;
    }

    #jujutsu-image {
        order: 0
    }

    #about-jujutsu>div {
        /*align-self: flex-end;*/
    }
}